name: Pull Request Checks

on:
  push:
    branches:
      - main
      - develop

jobs:
  pull-request-checks:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install Packages
        run: npm install

      - name: Run Lint
        run: npm run lint

      - name: Run Typescript Compiler
        run: npx tsc --noEmit

      - name: Run Tests
        run: npm run test